@model IEnumerable<StockDisplayModel>
@{
    Layout = "_AdminLayout";
}

<div class="nav-custom mb-4 py-2">
    <h1 class="px-3 pt-2">Stocks</h1>
</div>
<div class="nav-custom mb-4 py-2 px-3">
    <form asp-action="Index" method="get" class="my-4 d-flex gap-4">
        <div class="input-group w-50">
            <div class="input-group-text"><i class="bi bi-search"></i></div>
            <input type="text" class="form-control" value="" id="sterm" name="sTerm" placeholder="Search by book" fdprocessedid="5hrbgs">
        </div>
        <button type="submit" class="btn btn-primary px-4">Find</button>
        <a asp-action="Index" asp-controller="Stock" class="btn btn-primary px-4">Clear</a>
        <a asp-action="GenerateReport" asp-controller="Stock" class="btn btn-success px-4">Download Report</a>
    </form>

    <table class="table table-striped">
        <tr>
            <th>Book</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookName</td>
                <td>@item.Quantity</td>
                <td>
                    <a asp-action="ManageStock" asp-controller="Stock" asp-route-bookId="@item.BookId" class="btn btn-info">Update Stock</a>
                </td>
            </tr>
        }
    </table>
</div>

