@model StockDTO
@{
    Layout = "_AdminLayout";
}
<div class="nav-custom mb-4 py-2 d-flex justify-content-between align-items-center">
    <h2 class="px-3 pt-2">Manage Stock</h2>
    <a asp-action="Index" asp-controller="Stock" class="btn btn-primary me-3">Back</a>
</div>
<div class="nav-custom mb-4 py-2 px-3">
    <div style="width: 50%">
    <form asp-action="ManageStock">
        <input type="hidden" asp-for="BookId" />

        <div class="my-2">
            <label>Quantity</label>
            <input type="number" class="form-control" asp-for="Quantity" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="my-2">
            <button type="submit" class="btn btn-info">Update</button>
        </div>
    </form>
</div>
</div>
